@{
    ViewData["Title"] = "Home Page";
}

<div>
    @* //class="display-4" *@

    <p style="background-color:beige">
        <img src="./images/pharmacy.jpeg" width="40%" height="40%" style="float:right; margin:10px 10px 20px 20px" />
        <h1 >Welcome To Our Pharmacy</h1>
        <hr />
        <h4> In our Pharmacy, Pharmaciet can make crud operations plus can search about any medicine </h4>
    </p>

</div>
